* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: "Inter", serif
}

.cabecalho {
    display: flex;
    justify-content: space-between;
    padding: 40px 120px;

    & Button {
        color: white;
        background-color: #1F1F39;
        border-radius: 8.07px;
        text-align: center;
        width: 183px;
    }

    & .nav {
        display: flex;
        gap: 51.84px;

        & a {
            color: #000000;
        }
    }
}

.main {
    display: flex;
    flex-direction: column;

    &.home {
        width: 1728;
        height: 798;
        gap: 60px;
        padding: 120px;

    }

    & .conteudo {
        & h1 {
            color: #1F1F39;
            width: 700;
            font-size: 70px;
        }
        & img{
            width: 774px;
            
            height: 499px;

        }
    }
}
.cards{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 109px;
}
.portifolio{}
.about{
    color: white;
    background-color: #000000;
}
.footer{
    color: white;
    background-color: #000000;
}